<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Sobre</title>
    <meta charset="utf-8">
    <link rel="sortcut icon" href="https://media.discordapp.net/attachments/799515684278632468/896606357501927434/papel.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
  </head>
    <nav>
        <a href="/"> Home</a>
    </nav>
  <body>
    <h1>Contato</h1>
    <h2>By: Balaka Dev</h2>
    <center>
      <p>Discord: Balaka#9918</p>
      <img class="git" src="https://media.discordapp.net/attachments/799515684278632468/921248570751975474/logotipo-do-github.png">
      <a href="https://github.com/BalakaDEV" target="_blank">Github</a><br>
      <img class="git" src="https://media.discordapp.net/attachments/799515684278632468/921659119507738664/novo-email.png">
      <a href="mailto:gui.alem123@gmail.com" target="_blank">Email</a><br>
    </center>
  </body>
</html>