<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Sobre</title>
    <meta charset="utf-8">
    <link rel="sortcut icon" href="https://media.discordapp.net/attachments/799515684278632468/896606357501927434/papel.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
  </head>
  <nav>
    <a href="/"> Home</a>
  </nav>
  <body>
    <h1>Sobre o projeto</h1>
    <p>O projeto PPT foi feito visando a criação de uma pagina usando <a href="https://flask.palletsprojects.com/en/2.0.x/" target="_blank">Flask</a> e Python. <br>A ideia inicial do projeto era sair da criação de executaveis em Python (que na maioria das vezes contavam como virus) <br>e colocar toda a aplicação a acesso de qualquer dispositivo e qualquer pessoa.<br>Assim trazendo aplicações Python sem precisar baixar absolutamente nada graças a biblioteca que integra Python na Web.<br>Apenas lembrando que o projeto não é de extrema qualidade pois foi feito com o intuito de estudar novas bibliotecas e possibilidades<br>Espero que se divirta obrigado por testar!</p>
    <p>Source do projeto para Download: 
    <a href="https://github.com/BalakaDEV/Python-Web-PPT" target="_blank">https://github.com/BalakaDEV/Python-Web-PPT</a><br>
  </body>
</html>